---
import Gallery from '@layouts/Gallery.astro';
import '@styles/gallery.scss';
import '@styles/utils.scss';
import JobLoop from '@components/JobLoop.astro';
---
<Gallery title="DecorStyle | Pisos flotantes">
  <div class="container">
    <JobLoop resource={"pisos-flotantes"} jobNumber={1} jobTotalImages={6} />
  </div>
</Gallery>