---
import Gallery from '@layouts/Gallery.astro';
import '@styles/gallery.scss';
import '@styles/utils.scss';
import JobLoop from '@components/JobLoop.astro';
import { jobConfig, jobDynamic } from '@config/revoque-piedra';
export function getStaticPaths() {
  return jobDynamic;
}
const { jobs } = Astro.params;
---
<Gallery title="DecorStyle | Revoque en piedra">
  <div class="container">
    <JobLoop
      resource={"revoque-piedra"}
      jobNumber={Number(jobs)}
      jobTotalImages={jobConfig[Number(jobs)-1]?.jobTotalImages ?? 0} />
  </div>
</Gallery>