---
import Service from '@layouts/Service.astro';
import '@styles/card-job.scss'
import '@styles/gallery.scss';
import '@styles/utils.scss';
import '@styles/header-service.scss';
import { jobDynamic } from '@config/revoque-piedra';
import JobCards from '@components/JobCards.astro';
---

<Service title="DecorStyle | Revoque en piedra">
  <header id="home" class="revoque-piedra">
    <h1>REVOQUE EN PIEDRA</h1>
  </header>
  <section id="revoque-piedra" class="mt-5 mb-5">
    <div class="container">
      <JobCards
        jobLimit={jobDynamic.length}
        resource={"revoque-piedra"}/>
    </div>
  </section>
</Service>