footer {
  min-height: 4rem;
  width: 100%;
  background-color: #FFF;
  display: flex;
  justify-content: center;
  align-items: center;
  h5 {
    margin-bottom: 0;
    color: #000;
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 0.1rem;
  }
}