.pisos-deck-pvc {
  height: 50vh;
  background-image: linear-gradient(rgba(0,0,0,.5), rgba(0,0,0,.5)), url('../images/pisos-deck-pvc/background.jpg');
}
.revoque-piedra {
  height: 50vh;
  background-image: linear-gradient(rgba(0,0,0,.5), rgba(0,0,0,.5)), url('../images/revoque-piedra/background.webp');
}
.construccion-tradicional {
  height: 50vh;
  background-image: linear-gradient(rgba(0,0,0,.5), rgba(0,0,0,.5)), url('../images/construccion-tradicional/background.jpg');
}
.pisos-flotantes {
  height: 50vh;
  background-image: linear-gradient(rgba(0,0,0,.5), rgba(0,0,0,.5)), url('../images/pisos-flotantes/background.jpg');
}
.microcemento {
  height: 50vh;
  background-image: linear-gradient(rgba(0,0,0,.5), rgba(0,0,0,.5)), url('../images/microcemento/background.jpg');
}
.revoque-plastico {
  height: 50vh;
  background-image: linear-gradient(rgba(0,0,0,.5), rgba(0,0,0,.5)), url('../images/revoque-plastico/background.jpg');
}
.construccion-seco {
  height: 50vh;
  background-image: linear-gradient(rgba(0,0,0,.5), rgba(0,0,0,.5)), url('../images/construccion-seco/background.jpg');
}