---
import Layout from '@layouts/Layout.astro';
import '@styles/utils.scss';
import ClientCard from '@components/ClientCard.astro';
import ServiceCard from '@components/ServiceCard.astro';
import LineSeparator from '@components/LineSeparator.astro';
---
<Layout title="DecorStyle">
  <section class="header" id="home">
    <h1>DECOR-STYLE</h1>
    <h2>Construccion - Remodelacion - terminaciones</h2>
  </section>
  <section class="container-fluid" id="about-me">
    <div class="row">
      <LineSeparator />
      <div class="col-12 d-flex justify-content-center flex-column">
        <h1>01 sobre nosotros</h1>
        <h2>Somos una empresa especializada en construcción, remodelación y decoración de espacios. Nuestro equipo está formado por profesionales altamente capacitados y comprometidos con la excelencia en cada proyecto. Contamos con amplia experiencia en todas las etapas de la obra, desde la planificación hasta la ejecución y los detalles finales. Nuestro objetivo es brindar soluciones personalizadas y de alta calidad, para lograr los mejores resultados en cada trabajo que realizamos.</h2>
      </div>
    </div>
  </section>
  <section class="container-fluid container-fluid-gray pb-5" id="services">
    <div class="row">
      <LineSeparator />
      <div class="col-12 mb-5">
        <h1>02 SERVICIOS Y PORTAFOLIO</h1>
      </div>
    </div>
    <div class="container">
      <div class="row d-flex justify-content-center">
        <ServiceCard
          href={"pisos-deck-pvc/index.html"}
          image={"./images/services/1.webp"}
          title={"PISOS DECK PVC"}
          description={"Revestimiento resistente al agua y de bajo mantenimiento para pisos exteriores, fácil de instalar y con apariencia atractiva en diferentes colores y texturas."}/>
        <ServiceCard
          href={"revoque-piedra/index.html"}
          image={"./images/services/2.webp"}
          title={"REVOQUE EN PIEDRA"}
          description={"Revestimiento de paredes exteriores con piedras naturales o artificiales adheridas a una capa de mortero para crear un aspecto de pared de piedra natural."}/>
        <ServiceCard
          href={"construccion-tradicional/index.html"}
          image={"./images/services/3.webp"}
          title={"CONSTRUCCION TRADICIONAL"}
          description={"Método común y duradero que implica el uso de ladrillos y cemento para levantar muros y estructuras resistentes."}/>
        <ServiceCard
          href={"pisos-flotantes/index.html"}
          image={"./images/services/4.webp"}
          title={"PISOS FLOTANTES"}
          description={"Revestimiento de suelos fácil de instalar, compuesto de tablas de madera unidas sin necesidad de fijación al piso de abajo."}/>
        <ServiceCard
          href={"microcemento/index.html"}
          image={"./images/services/5.webp"}
          title={"MICROCEMENTO"}
          description={"Revestimiento versátil y duradero para suelos y paredes interiores y exteriores, con apariencia lisa y uniforme, sin juntas ni cortes."}/>
        <ServiceCard
          href={"revoque-plastico/index.html"}
          image={"./images/services/6.webp"}
          title={"REVOQUE PLÁSTICO"}
          description={"Revestimiento resistente y duradero para paredes interiores y exteriores, de fácil aplicación y acabado uniforme y liso en diferentes texturas y colores."}/>
        <ServiceCard
          href={"construccion-seco/index.html"}
          image={"./images/services/7.webp"}
          title={"CONSTRUCCION EN SECO"}
          description={"Método rápido, limpio y eficiente de construir utilizando materiales prefabricados, más económico y sostenible que la construcción tradicional."}/>
      </div>
    </div>
  </section>
  <section class="container-fluid mb-5" id="clients">
    <div class="row">
      <LineSeparator />
      <div class="col-12 mb-5">
        <h1>03 CLIENTES</h1>
      </div>
    </div>
    <div class="container">
      <div class="row">
        <ClientCard
          src={"./images/clients/latch.webp"}
          alt={"Latch"}/>
          <ClientCard
            src={"./images/clients/horizon.webp"}
            alt={"Horizon"}/>
          <ClientCard
            src={"./images/clients/collective.webp"}
            alt={"Collective"}/>
      </div>
    </div>
  </section>
  <section class="container-fluid container-fluid-gray" id="contact">
    <div class="row">
      <LineSeparator />
      <div class="col-12 mb-5">
        <h1>04 CONTACTO</h1>
      </div>
      <div class="col-12 d-flex justify-content-center">
        <div id="map" class="map"></div>
      </div>
      <div class="col-12 d-flex justify-content-center align-items-center flex-column mt-3">
        <a href="mailito:decor-style@hotmail.com">decor-style@hotmail.com</a>
        <p class="mb-2 mt-2 text-center">Tel: +54 9 2257 55-1889</p>
        <p class="text-center">Jujuy 2390, San Bernardo, Provincia de Buenos Aires, Argentina</p>
      </div>
    </div>
  </section>
  <script is:inline>
    let map;
    function initMap() {
      const mapOptions = {
        zoom: 18,
        center: { lat: -36.691827, lng: -56.686664 },
      };
      map = new google.maps.Map(document.getElementById("map"), mapOptions);
      const marker = new google.maps.Marker({
        position: { lat: -36.691827, lng: -56.686664 },
        map: map
      });
      const infowindow = new google.maps.InfoWindow({
        content: "<p>Jujuy 2390, San Bernardo</p><a href='https://www.google.com.ar/maps/place/Jujuy+2390,+San+Bernardo,+Provincia+de+Buenos+Aires/@-36.6918262,-56.6873076,19z/data=!3m1!4b1!4m5!3m4!1s0x959c6f02e07c6297:0x98601ef1a5a1fc98!8m2!3d-36.6918273!4d-56.6866639'>Abrir mapa</a>",
      });

      google.maps.event.addListener(marker, "click", () => {
        infowindow.open(map, marker);
      });
    }
    window.initMap = initMap;
    const changeNav = (entries, observer) => {
      entries.forEach((entry) => {
        if(entry.isIntersecting && entry.intersectionRatio >= 0.55) {
          document.querySelector('.active').classList.remove('active');
          var id = entry.target.getAttribute('id');
          var newLink = document.querySelector(`[data-item="${id}"]`).classList.add('active');
        }
      });
    }
    const options = {
      threshold: 0.55
    }
    const observer = new IntersectionObserver(changeNav, options);
    const sections = document.querySelectorAll('section');
    sections.forEach((section) => {
      observer.observe(section);
    });
  </script>
    <script
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCSnY1iezKufmpKG8kLyHu6t8tcxbexpyQ&callback=initMap&v=weekly"
    defer
  ></script>
</Layout>