---
import Service from '@layouts/Service.astro';
import '@styles/card-job.scss'
import '@styles/gallery.scss';
import '@styles/utils.scss';
import '@styles/header-service.scss';
import { jobDynamic } from '@config/construccion-tradicional';
import JobCards from '@components/JobCards.astro';
---

<Service title="DecorStyle | Construccion tradicional">
  <header id="home" class="construccion-tradicional">
    <h1>CONSTRUCCION TRADICIONAL</h1>
  </header>
  <section id="construccion-tradicional" class="mt-5 mb-5">
    <div class="container">
      <JobCards
        jobLimit={jobDynamic.length}
        resource={"construccion-tradicional"}/>
    </div>
  </section>
</Service>