---
import JobCard from '@components/JobCard.astro';
interface Props {
  resource: string;
  jobLimit: number;
}
interface Props {
  jobLimit: number;
}
const { jobLimit, resource } = Astro.props;
---
<div class="row">
  {
    Array.from(Array(jobLimit)).map((_,index) =>
      <JobCard link={index+1} src={`../images/${resource}/${index+1}/1.jpg`} />
    )
  }
</div>