---
import '@styles/card-job.scss' 
const { link, src } = Astro.props;
---

<div class="col-md-4 col-12 mt-4">
  <a href={link} class="card-job">
    <img src={src} alt="">
    <div class="card-body">
      <button>VER TRABAJO</button>
    </div>
  </a>
</div>