---
import Gallery from '@layouts/Gallery.astro';
import '@styles/gallery.scss';
import '@styles/utils.scss';
import JobLoop from '@components/JobLoop.astro';
---
<Gallery title="DecorStyle | Revoque en plastico">
  <div class="container">
    <JobLoop resource={"revoque-plastico"} jobNumber={1} jobTotalImages={5} />
  </div>
</Gallery>