---
import Layout from '@layouts/Layout.astro';
import '@styles/card-job.scss'
import '@styles/gallery.scss';
import '@styles/utils.scss';
import '@styles/header-service.scss';
import { jobDynamic } from '@config/revoque-plastico';
import JobCards from '@components/JobCards.astro';
---

<Layout title="DecorStyle | Revoque plastico">
  <header id="home" class="revoque-plastico">
    <h1>REVOQUE PLASTICO</h1>
  </header>
  <section id="revoque-plastico" class="mt-5 mb-5">
    <div class="container">
      <JobCards
        jobLimit={jobDynamic.length}
        resource={"revoque-plastico"}/>
    </div>
  </section>
</Layout>