---
import Service from '@layouts/Service.astro';
import '@styles/card-job.scss'
import '@styles/gallery.scss';
import '@styles/utils.scss';
import '@styles/header-service.scss';
import { jobDynamic } from '@config/microcemento';
import JobCards from '@components/JobCards.astro';
---

<Service title="DecorStyle | Microcemento">
  <header id="home" class="microcemento">
    <h1>MICROCEMENTO</h1>
  </header>
  <section id="microcemento" class="mt-5 mb-5">
    <div class="container">
      <JobCards
        jobLimit={jobDynamic.length}
        resource={"microcemento"}/>
    </div>
  </section>
</Service>