---
import Service from '@layouts/Service.astro';
import '@styles/card-job.scss'
import '@styles/gallery.scss';
import '@styles/utils.scss';
import '@styles/header-service.scss';
import { jobDynamic } from '@config/pisos-deck-pvc';
import JobCards from '@components/JobCards.astro';
---

<Service title="DecorStyle | Pisos Deck Pvc">
  <header id="home" class="pisos-deck-pvc">
    <h1>PISOS DECK PVC</h1>
  </header>
  <section id="pisos-deck-pvc" class="mt-5 mb-5">
    <div class="container">
      <JobCards
        jobLimit={jobDynamic.length}
        resource={"pisos-deck-pvc"}/>
    </div>
  </section>
</Service>